<div [hidden]="!contentLoaded">
<h1>Last Publications</h1> <button mat-raised-button color="info" (click)="getPublications()">Refresh</button>
<button mat-raised-button color="info" (click)="fetchNextPage()">Next Page</button>
<button mat-raised-button color="info" [routerLinkActive]="'active'" [routerLink]="['/publication-new']">Create</button>
<mat-card class="mb-20" *ngFor="let pub of lstPublications" @enterAnimation>
  <mat-card-header>
      <mat-card-title>{{pub.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <p class="card-text">{{pub.description}}</p>
      <button mat-raised-button color="primary" [routerLinkActive]="'active'" [routerLink]="['/publication',pub.id]">View/Edit</button><button mat-raised-button color="warn" (click)="deletePublication(pub.id)">Delete</button>
      <!----<button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button routerLink=".">Link</a>!-->
  </mat-card-content>
</mat-card>
</div>