<mat-card>
  <mat-card-header>
      <mat-card-title>New Publication</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field>
          <input matInput placeholder="Title">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <textarea id="txtSummary" matInput placeholder="Summary/Description"></textarea>
      </mat-form-field>
      <br/> 
      <mat-form-field>
          <textarea id="txtContent" matInput placeholder="Content"></textarea>
      </mat-form-field>
      <br/>
      <mat-form-field>
          <mat-select placeholder="Category">
              <mat-option value="option">Option</mat-option>
          </mat-select>
      </mat-form-field>
  </mat-card-content>
</mat-card>
<br/>
<button mat-raised-button color="primary">Save</button>
<button mat-raised-button color="warn">Cancel</button>

<!--TODO: Media inputs-->

